<body [ngClass]="{'dark-mode' : checked}">
  <div class="jumbotron mb-2">
    <p class="title">
      <strong>{{title}}</strong>
    </p>
    <mat-slide-toggle (change)="updateVal($event.checked)" color="primary">
      <strong>Dark Mode!</strong>
    </mat-slide-toggle>
  </div>
  
  <div class="container">
    <h4>
      <strong>Total Confirmed Cases: </strong>{{totalConfirmed | number}}
      &nbsp; &nbsp;
    </h4>
    <h4>
      <strong>Total Recovered Cases: </strong>{{totalRecovered | number}}
      &nbsp; &nbsp;
    </h4>
    <h4>
      <strong>Total Death Cases: </strong>{{totalDeaths | number}}
    </h4>
  </div>
  
  <div class="container-fluid">
    <mat-tab-group>
      <mat-tab label="By Country">
        <ng-template matTabContent>
          <table mat-table [dataSource]="confirmedCases" class="mat-elevation-z8">      
            <ng-container matColumnDef="Country/Region">
              <th mat-header-cell *matHeaderCellDef> Country/Region </th>
              <td mat-cell *matCellDef="let element"> {{element.country}} </td>
            </ng-container>
        
            <ng-container matColumnDef="Latest Total Cases">
              <th mat-header-cell *matHeaderCellDef> Confirmed Cases </th>
              <td mat-cell *matCellDef="let element"> {{element.latestTotalCases}} </td>
            </ng-container>
        
            <ng-container matColumnDef="Previous Day Total Cases">
              <th mat-header-cell *matHeaderCellDef> Previous Day Cases </th>
              <td mat-cell *matCellDef="let element"> {{element.previousDayTotalCases}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumnsNav1"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsNav1;"></tr>
          </table>
        </ng-template>
      </mat-tab>
      
      <mat-tab label="By State">
        <ng-template matTabContent>
          <table mat-table [dataSource]="confirmedCases" class="mat-elevation-z8">      
            <ng-container matColumnDef="Province/State">
              <th mat-header-cell *matHeaderCellDef> Province/State </th>
              <td mat-cell *matCellDef="let element"> {{element.state}} </td>
            </ng-container>
        
            <ng-container matColumnDef="Latest Total Cases">
              <th mat-header-cell *matHeaderCellDef> Confirmed Cases </th>
              <td mat-cell *matCellDef="let element"> {{element.latestTotalCases}} </td>
            </ng-container>
        
            <ng-container matColumnDef="Previous Day Total Cases">
              <th mat-header-cell *matHeaderCellDef> Previous Day Cases </th>
              <td mat-cell *matCellDef="let element"> {{element.previousDayTotalCases}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumnsNav2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsNav2;"></tr>
          </table>
        </ng-template>
      </mat-tab>

      <mat-tab label="By Daily Cases">
        <ng-template matTabContent>
          <table mat-table [dataSource]="dailyCases" class="mat-elevation-z8">      
            <ng-container matColumnDef="Country">
              <th mat-header-cell *matHeaderCellDef> Country </th>
              <td mat-cell *matCellDef="let element"> {{element.country}} </td>
            </ng-container>

            <ng-container matColumnDef="State">
              <th mat-header-cell *matHeaderCellDef> State </th>
              <td mat-cell *matCellDef="let element"> {{element.state}} </td>
            </ng-container>

            <ng-container matColumnDef="Confirmed">
              <th mat-header-cell *matHeaderCellDef> Confirmed </th>
              <td mat-cell *matCellDef="let element"> {{element.confirmedCases}} </td>
            </ng-container>

            <ng-container matColumnDef="Recovered">
              <th mat-header-cell *matHeaderCellDef> Recovered </th>
              <td mat-cell *matCellDef="let element"> {{element.recoveredCases}} </td>
            </ng-container>

            <ng-container matColumnDef="Deaths">
              <th mat-header-cell *matHeaderCellDef> Deaths </th>
              <td mat-cell *matCellDef="let element"> {{element.deathCases}} </td>
            </ng-container>
            
            <ng-container matColumnDef="Active">
              <th mat-header-cell *matHeaderCellDef> Active </th>
              <td mat-cell *matCellDef="let element"> {{element.activeCases}} </td>
            </ng-container>

            <ng-container matColumnDef="Incident Rate">
              <th mat-header-cell *matHeaderCellDef> Incident Rate </th>
              <td mat-cell *matCellDef="let element"> {{element.incidentRate}} </td>
            </ng-container>

            <ng-container matColumnDef="Case Fatality Ratio">
              <th mat-header-cell *matHeaderCellDef> Case Fatality Ratio </th>
              <td mat-cell *matCellDef="let element"> {{element.caseFatalityRatio}} </td>
            </ng-container>

            <ng-container matColumnDef="Last Updated on">
              <th mat-header-cell *matHeaderCellDef> Last Updated on </th>
              <td mat-cell *matCellDef="let element"> {{element.lastUpdated | date }} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumnsNav3"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsNav3;"></tr>
          </table>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</body>