.dark-mode {
  filter: invert(1) hue-rotate(180deg);
}

table {
    width: 100%;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-top: 10px;
  font-size: 28px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}